@import 'bootstrap';

body,
#app {
    max-height: 100vh;
    overflow: hidden;
}

.log-item {
    max-width: 100% !important;
}

.log-item-time {
    font-size: 0.9rem;
}

.log-item-text {
    width: 100%;
}

.expanded {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;

    &.show {
        max-height: 1000px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.log-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
}

.filter.badge {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s;
    &:hover,
    &.selected {
        opacity: 1;
    }
}

.connection-card {
  min-height: 5rem;
  padding: 0.5rem;
}

.main-content {
    width: calc(100vw - 4.5rem); // Account for the sidebar
}