@import 'bootstrap';

body,
#app {
    min-height: 100vh;
    overflow: hidden;
}

.log-item {
    max-width: 100% !important;
}

.log-item-text {
    width: 100%;
}

.expanded {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;

    &.show {
        max-height: 1000px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.log-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.filter.badge {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s;
    &:hover,
    &.selected {
        opacity: 1;
    }
}

.connection {
    .connection-card {
        min-height: 5rem;
        padding: 0.5rem;
        min-width: 10rem;
    }
}

.main-content {
    width: calc(100vw - 4.5rem); // Account for the sidebar
    overflow-y: auto;
    height: 100vh;
}

.menu {
    position: fixed;
    z-index: 999;
    .list-group-item.selectable {
        cursor: pointer;
        &:hover {
            background-color: #f5f5f5;
        }
    }
}

.add-new-button {
    // round button with a plus sign
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease;
    i {
        transition: all 0.5s ease;
        display: inline-block;
        animation: spin-icon-half-reverse 0.5s;
        color : #000;
    }
    &:hover {
        i {
            animation: spin-icon-half 0.5s;
            color : #fff;
        }
        background-color: $primary;
    }
}
@keyframes spin-icon-half {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(190deg);
    }
}

@keyframes spin-icon-half-reverse {
    from {
        transform: rotate(190deg);
    }
    to {
        transform: rotate(0deg);
    }
}